
body { 
    text-align: center;
    background-color: steelblue;
    max-width: 40%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;

}

.bold {
    font-weight: bold;
}

.white {
    color: white
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 40px;
}

h1:hover { 
    color: black;
}
 
ul {
    list-style-type: decimal;
    text-align: left;
    margin: 5% auto
}

li, img { margin: 10px auto
}

img { 
    width: 40%;
}

h3 {
    max-width: 60%;
    margin: 8% auto;
    font-size: 2.5em;
    font-weight: normal;
}




