.header {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

}

html body {
    /* background-color: rgb(104, 104, 104); */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.small {
    text-align:center

}
.small img{
    display: inline-block;
    width: 20%;
    height: auto;
    border-radius: 200%;
    margin: 5%;
    border: .7em solid rgb(54, 54, 54);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 104, 104);

}