body {
    margin: 0
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
}

h1{
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    font-size: 8vw;
    letter-spacing: 7px;
    z-index: 2;
}

img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
}

.background{
    background-color: gray;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 1;
}
 
.cherries{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 8vw;
    letter-spacing: 5px;
    background-color: gray;
    color: #9c0e11;
    z-index: 3;
} 
