
nav,footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 25px;
}

footer p {
    padding: 25px;

}

a {
    color: white;
    padding: 25px;
}

h1 {
    text-align: center;
    color: steelblue;
    margin: 50px 0;
}  

img {
    border-radius: 10px;
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 5px solid steelblue;
}

p {
    padding: 10px;
}

main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

a:hover {
    background-color: white;
    color: steelblue;
}

body {
    margin: 0;
}